/* All */
* {
	font-family: 'Ubuntu', sans-serif;
}

html, body {
	height: 100%;
}




/* Header */
.header {
	background-color: #000000;
	opacity: 0.9;
}
a.navbar-brand {
	color: white !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: white;
}

.navbar-light .navbar-toggler {
	color: white;
}

/* Banner */
.banner {
	background: url('../images/bg-header.jpg');
	height: 50%;
	background-size: cover;
	background-position: center center;
	background-color: #000000;
}
.main-heading {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: white;
	opacity: 0.9;
}
.main-heading:hover {
	font-size: 3.5rem;
}

/* Members */
.members-heading {
	text-align: center;
	padding-top: 2.5rem;	
}
.members-sub {
	text-align: center;
	padding-bottom: 2.5rem;
}
.card {
	margin-bottom: 2.5rem;
}
.footer-member {
	background-color: #000000;
	opacity: 0.9;
}
.members-muted {
	color: white !important;
}

/* Projects */
.card-header {
	background-color: #000000;
	color: white;
}

/* Footer */
footer {
	background-color: #000000;
	opacity: 0.9;
	height: 13%;
	padding-top: 2%;
}
footer > p {
	text-align: center;
	color: white;
}
footer > p > span {
	font-size: 14px;
	color: #d1d1d1;
}
/* Media Queries */

@media (min-width: 319px) and (max-width: 374px) {
	footer {
		background-color: #000000;
		opacity: 0.9;
		height: 13%;
		padding-top: 4%;
	}
	footer > p {
		text-align: center;
		color: white;
		font-size: 13px;
	}
	footer > p > span {
		font-size: 11px;
		color: #d1d1d1;
	}
}
@media (min-width: 375px) and (max-width:413px) {
	footer {
		background-color: #000000;
		opacity: 0.9;
		height: 13%;
		padding-top: 5%;
	}
	footer > p {
		text-align: center;
		color: white;
		font-size: 14px;
	}
	footer > p > span {
		font-size: 12px;
		color: #d1d1d1;
	}
}
@media (min-width: 414px) {
	footer {
		background-color: #000000;
		opacity: 0.9;
		height: 13%;
		padding-top: 5%;
	}
	footer > p {
		text-align: center;
		color: white;
		font-size: 15px;
	}
	footer > p > span {
		font-size: 13px;
		color: #d1d1d1;
	}
}